@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-ring: var(--ring);
  --color-border: var(--border);
  --color-input: var(--input);
}

:root {
  --radius: 0.625rem;

  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);

  --primary: #0046ff;
  --primary-foreground: #ffffff;

  --secondary: #e6eeff;
  --secondary-foreground: #0033cc;

  --accent: #3366ff;
  --accent-foreground: #ffffff;

  --muted: #d5dae9;
  --muted-foreground: #5c6ac4;

  --destructive: #ff4d4f;

  --border: #dce3ff;
  --input: #dce3ff;

  --ring: #0046ff;
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --primary: #0046ff;
  --primary-foreground: #ffffff;

  --secondary: #1a2b6c;
  --secondary-foreground: #cdd9ff;

  --accent: #336dff;
  --accent-foreground: #ffffff;

  --muted: #192238;
  --muted-foreground: #8fa2ff;

  --destructive: #ff5a5f;

  --border: #283458;
  --input: #2a3762;

  --ring: #0046ff;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar{
  display: none;
}

body{
  overflow-x: hidden;
}