@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-ring: var(--ring);
  --color-border: var(--border);
  --color-input: var(--input);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-tooltip-bg: var(--tooltip-bg);
  --color-tooltip-foreground: var(--tooltip-foreground);
}

:root {
  --radius: 0.625rem;

  --background: oklch(0.99 0.015 270);
  --foreground: oklch(0.18 0.04 270);

  --primary: #471396;
  --primary-foreground: #ffffff;

  --secondary: #ede8ff;
  --secondary-foreground: #3b0f7d;

  --accent: #5b4bff;
  --accent-foreground: #ffffff;

  --muted: #f2f3fa;
  --muted-foreground: #5f4b9a;

  --destructive: #e63946;
  --destructive-foreground: #ffffff;

  --border: #e1e4f5;
  --input: #dfe3fa;
  --ring: #6c3bff;

  --card: #ffffff;
  --card-foreground: #0f1724;
  --tooltip-bg: rgba(15, 23, 36, 0.9);
  --tooltip-foreground: #f4f3ff;
}

.dark {
  --background: #020619;
  --foreground: oklch(0.98 0.005 260);

  --primary: #471396;
  --primary-foreground: #ffffff;

  --secondary: #2e0a6f;
  --secondary-foreground: #d9c7ff;

  --accent: #6d3eff;
  --accent-foreground: #ffffff;

  --muted: #1a1530;
  --muted-foreground: #9a8cff;

  --destructive: #ff4d6d;

  --border: #2b2153;
  --input: #31245d;
  --ring: #7b3cff;

  --card: oklch(0.13 0.035 265);
  --card-foreground: oklch(0.98 0.005 255);
  --tooltip-bg: rgba(71, 19, 150, 0.15);
  --tooltip-foreground: #e8dcff;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .font-jakarta {
    font-family: var(--font-jakarta), sans-serif;
  }

  .font-anton {
    font-family: var(--font-anton), sans-serif;
  }

  .font-roboto-slab {
    font-family: var(--font-roboto-slab), serif;
  }
}

::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
}

.hero-image {
  background-image: url('/images/image.png');
  background-size: cover ;
  background-position: center;
  background-repeat: no-repeat;
}
.card-skills {
  background-image: url('/images/wutwut.jpeg');
  background-size: cover ;
  background-position: center;
  background-repeat: no-repeat;
}
